{% extends "stock/base.html"%}

{% load static %}

{% block content %}

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>ALGO NO ESTA BIEN</h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'Home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
						<!--<a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>-->
						<a href="{% url 'Carrito' %}">Carrito<span class="lnr lnr-arrow-right"></span></a>
                        <a href="{% url 'Checkout' %}">Checkout</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
    <br/>


	<h1>OPPS!!! ALGO SALIO MAL</h1>


{% endblock %}