{% extends "stock/base.html"%}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Recuperar Cuenta</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

    <br/>
	<hr/>
    <br/>
    <div style="width: 50%; margin:auto;">
		<h3>Restablecimiento de contraseña completado</h3>
		<p>Su contraseña ha sido establecida. Ahora puede continuar e iniciar sesión.<p>
        <a href="{% url 'iniciar_sesion' %}">Iniciar sesión</a>
    </div>
    <br/>
	<hr/>
    <br/>

{% endblock %}