{% extends "stock/base.html"%}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Recuperar Cuenta</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

    <br/>
	<hr/>
    <br/>
    <div style="width: 50%; margin:auto;">
		<h3>Restablecimiento de contraseña enviado</h3>
		<h5>Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve.</h5>
        <h5>Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.</h5>
    </div>
    <br/>
	<hr/>
    <br/>

{% endblock %}