{% extends "stock/base.html"%}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Recuperar Cuenta</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<br/>
	<hr/>
    <br/>
    <div style="width: 50%; margin:auto;">
		<h3>Restablecer contraseña</h3>
		<p>¿Olvidaste tu contraseña? Ingrese su dirección de correo electrónico a continuación y le enviaremos las instrucciones para configurar una nueva.</p>
        <form method="post" action="">
            {% csrf_token %}

			{{form|crispy}}

			{% if messages %}
			{%for mensaje in messages%}
				<div class="alert alert-danger text-center">{{mensaje}}</div>
			{% endfor %}
			{% endif %}

            <div class="col text-center">
                <button class="btn btn-success regular-button">Restablecer mi contraseña</button>
            </div>	

        </form>
    </div>
	<br/>
	<hr/>
    <br/>

{% endblock %}