{% extends "stock/base.html"%}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Cuenta Bloqueada</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

    <br/>
	<hr/>
    <br/>
    <div style="width: 50%; margin:auto;">
		<h3>Cuenta bloqueada</h3>
		<h5>Se han detectado demasiados intentos fallidos de iniciar sesión, por lo que se ha bloqueado tu cuenta.</h5>
        <h5>Hemos enviado un correo a tu email registrado para que puedas recuperar tu cuenta.</h5>
    </div>
    <br/>
	<hr/>
    <br/>

{% endblock %}